<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ft.gmall.manage.mapper.PmsProductSaleAttrMapper">
    <select id="selectSpuSaleAttrListCheckBySku" resultMap="pmsProductSaleAttrMap">
        SELECT
            sa.id AS sa_id, sav.id AS sav_id, sa.*,sav.*,if(ssav.sku_id,1,0) AS isChecked
        FROM
            pms_product_sale_attr sa
        INNER JOIN pms_product_sale_attr_value sav ON sa.spu_id = sav.spu_id
        AND sa.sale_attr_id = sav.sale_attr_id
        AND sa.spu_id = #{spuId}
        LEFT JOIN pms_sku_sale_attr_value ssav ON sav.id = ssav.sale_attr_value_id
        AND ssav.sku_id = #{skuId} ORDER BY sav.id
    </select>
    <resultMap id="pmsProductSaleAttrMap" type="com.ft.gmall.user.bean.PmsProductSaleAttr" autoMapping="true">
        <result property="id" column="sa_id" ></result>
        <collection property="spuSaleAttrValueList" ofType="com.ft.gmall.user.bean.PmsProductSaleAttrValue" autoMapping="true">
            <result property="id" column="sav_id"></result>
        </collection>
    </resultMap>
</mapper>